@page
@model RPC_Authentication.Pages.UsersList.UsersInDBModel
@{
}

if(Model.UserRPC.Count()>0){
	<table class="d-lg-table table-striped border">
		<tr class="table-secondary">
			<th>
				@Html.DisplayFor(m => m.Users.FirstOrDefault().Username)
			</th>
			<th>
				@Html.DisplayFor(m => m.Users.FirstOrDefault().Lastname)
			</th>
			<th>
				@Html.DisplayFor(m => m.Users.FirstOrDefault().Firstname)
			</th>
			<th>
				@Html.DisplayFor(m => m.Users.FirstOrDefault().Birthdate)
			</th>
		</tr>
		@foreach (var item in Model.Users){
			<tr>
				<td>@Html.DisplayFor(m =>item.Username)</td>
				<td>@Html.DisplayFor(m =>item.Lastname)</td>
				<td>@Html.DisplayFor(m =>item.Firstname)</td>
				<td>@Html.DisplayFor(m =>item.Birthdate)</td>
			</tr>
		}
	</table>
}
else{
	<p>Aun no hay usuarios</p>
}
